.courseList {
  display: flex;
  flex-direction: column;
}

.courseListItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.authorPhoto {
  width: 100px;
  height: 100px;
}

.authorPhoto>img{
  width: 100px;
  height: 100px;
}

.courseInfo {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100px;
}

.courseTitle {
  font-weight: bold;
}

.authorName {
  font-style: italic;
}

.courseDesc {
}

.shortDesc {
  overflow: hidden;
  line-clamp: 2;
}

.longDesc {

}

.courseFavorite {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 10px;
}